[submodule "source/Revit.Async"]
	path = source/Revit.Async
	url = https://github.com/PhanCongVuDuc/Revit.Async.git
	branch = master
[submodule "source/Sonny.RevitExtensions"]
	path = source/Sonny.RevitExtensions
	url = https://github.com/PhanCongVuDuc/Sonny.RevitExtensions.git
	branch = master
[submodule "source/Sonny.EasyRibbon"]
	path = source/Sonny.EasyRibbon
	url = https://github.com/PhanCongVuDuc/Sonny.EasyRibbon.git
	branch = main
[submodule "source/Sonny.Keygen"]
	path = source/Sonny.Keygen
	url = https://github.com/PhanCongVuDuc/Sonny.Keygen
	branch = master
[submodule "source/Sonny.ResourceManager"]
	path = source/Sonny.ResourceManager
	url = https://github.com/PhanCongVuDuc/Sonny.ResourceManager.git
	branch = main
